<!doctype html>
<title>{% block title %}{% endblock %} - data visualization</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<section class="content">
  <header>
    
  </header>
  
  {% block content %}
    <table>
      <thead>
        <tr>
          <th scope="col">id</th>
          <th scope="col">country</th>
        </tr>
      </thead>
      <tbody>
        {%  for customer in customers %}
          <tr>
            <th>{{ customer["id"] }}</th>
            <th>{{ customer["country"] }}</th>
          </tr>
        {%  endfor %}
      </tbody>
    </table>
    
  {% endblock %}
</section>